// import fonts
@include font-face(DINWebPro, '../src/fonts/DINWebPro');
@include font-face(DINWebPro-Bold, '../src/fonts/DINWebPro-Bold');
@include font-face(DINWebPro-Ita, '../src/fonts/DINWebPro-Ita');

$type-scale: (
    -1: 0.75rem,  // small text
    0: 1rem,      // body text
    1: 1.333rem,  // large text
    2: 1.777rem   // main heading
  );

  $base-font-size: 1rem;
  $base-line-height: $base-font-size * 1.25;
  
  $line-heights: (
    -1: $base-line-height,
    0: $base-line-height,
    1: $base-line-height * 2,
    2: $base-line-height * 2
  );

  // The main heading
h1 { @include type-setting(2); }

// The smaller top heading
h2 { @include type-setting(1); }

.p { @include type-setting(0); }

