$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2
);

$wd-colors: (
  'dark-blue': #000F23,
  'light-blue': #3295D2,
  'red': #FF2014,
  'white': #fff,
  'black': #000,

);

// gaps
$grid-gutter: 15px;
$nav-padding: 20px 0;
$card-footer-padding: 0 16px 13px 16px; 