@import
'abstracts/variables',
'abstracts/functions',
'abstracts/mixins',
'abstracts/placeholders';

@import
'base/reset',
'base/typography',
'base/default';

@import
'layout/nav',
'layout/grid',
'layout/header',
'layout/slider';

@import
'components/buttons';

@import
'pages/home';

@import
'themes/theme';

@import
'vendors/font-awesome',
'../../node_modules/swiper/dist/css/swiper.min';